/* All elements */
* {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    transition: none;
}

.btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
} 

h1 {
    font-size: 40px !important; 
}

h2 {
    font-size: 30px !important;
}

#logo {
    height: 40px;
    width: auto;
}

/* Body dark mode */
body.dark-mode {
    background-color: #343434 !important;
}

/* Footer */
footer {
    background-color: #28282B;
}

.nav-link {
    color: white !important;
}

footer a, footer h5 {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    transition: ease 0.3s;
}
.dark-mode footer a, .dark-mode footer h5{
    color: white !important;
    text-decoration: none;
}
footer a:hover {
    color: #ffc107 !important;
    text-decoration: none;
}

.dark-mode footer {
    color: white;
}

#copyright {
    color: white;
}

.dark-mode #copyright {
    color: white;
}

#copyright img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.g-recaptcha {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}