<body>
    <div class="container-fluid p-0 d-flex h-100">
        <style>
            #bdSidebar {
                position: fixed;
                height: 100%;
                overflow-y: auto;
            }

            @media (min-width: 768px) {
                #adminMainContent {
                    margin-left: 280px;
                }
            }
        </style>

        <!-- Sidebar -->
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3   offcanvas-md offcanvas-start"
            style="width: 280px; height: 100%;">
            <a href="/" class="navbar-brand">
                <h5> B1nance</h5>
            </a>
            <hr>
            <ul class="mynav nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-1">
                    <a href="/admin">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                </li>
                <!-- <li class="nav-item mb-1">
                    <a href="/admin/profile" class="">
                        <i class="fa-solid fa-user"></i>
                        Profile

                    </a>
                </li> -->
                <li class="nav-item mb-1">
                    <a href="/admin/products">
                        <i class="fa-solid fa-table"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <span> Add Product</span>
                        <span><i class="fa-solid fa-caret-down"></i></span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="/admin/new/mobile" class="sidebar-link">
                                <span>Mobile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/new/laptop" class="sidebar-link">
                                <span>Laptop</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/new/headphone" class="sidebar-link">
                                <i class="lni lni-headphone"></i>
                                <span>Headphone</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item mb-1">
                    <a href="/admin/users" class="">
                        <i class="fa-solid fa-users"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/admin/forum">
                        <i class="fa-regular fa-comments"></i>
                        Forum
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/admin/feedback">
                        <i class="fa-solid fa-envelope"></i>
                        Feedback
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/admin/order">
                        <i class="fa-solid fa-list"></i>
                        Orders
                    </a>
                </li>
            </ul>

            <hr>
            <div class="d-flex">
                <form action="/logout" method="post" class="logout">
                    <button type="submit" class="btn btn-danger">Log-out</button>
                </form>
            </div>
        </div>

        <!-- Admin content -->
        <div class="bg-light flex-fill">
            <div class="p-2 d-md-none d-flex" id="subnav">
                <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <span class="ms-3">
                    B1nance
                </span>
            </div>

            <div class="p-4" id="adminMainContent">
                <div class="d-flex justify-content-between">
                    <h5>
                        <%= title %>
                    </h5>
                </div>
                <hr>
                <div class="main-content">