<%- include('../main/header') %>
    <%- include('../main/navbar') %>
        <!--CSS-->
        <link rel="stylesheet" href="/stylesheets/about.css">

        <!-- About page -->
        <div class="aboutPage">
            <div class="about" >
                <p class="aboutDescription">Welcome to B1NANCE, your premier destination for cutting-edge electronics and gadgets. Founded with a passion for innovation and a commitment to exceptional customer service, we strive to provide tech enthusiasts and casual users alike with a curated selection of top-quality products at competitive prices. Whether you're searching for the latest smartphones, sleek laptops, or high-performance gaming gear, we've got you covered. With a focus on reliability, functionality, and style, each item in our collection is handpicked to meet the demands of today's digital lifestyle.</p>
            </div>

            <div class="product">
                <h1>Product</h1>
                <div class="wrapperProduct">
                    <p class="overview">We B1NANCE offers a user-friendly and informative online platform where customers can easily browse, compare, and purchase electronic products</p>
                    <p class="makeDark">Our intuitive website boasts a seamless browsing experience, allowing you to effortlessly explore our curated collection of top-tier brands and products.</p>
                    <p class="makeDark">With secure payment options, B1NANCE ensures your shopping experience is not only convenient but also reliable</p>
                </div>
            </div>

            <div class="corePillars">
                <h1>Core Pillars</h1>
                <div class="honesty">
                    <img src="images/businessQuote.png">
                    <div class="honestyParagraph">
                        <h2>Honesty</h2>
                        <p>Being honest is crucial for the working of B1NANCE therefore we have to ensure that every information provided by us is truthful, accurate and also any product sold by B1NANCE is authentic. We B1NANACE is confident to affirm that we always provide accurate product descriptons, transparent product pricings aswell as maintaining high standards of product quality, authenticity. </p>
                    </div> 
                </div>

                <div class="userEx">
                    <div class="userExParagraph">
                        <h2>User experience</h2>
                        <p>Customers are the most valuable assets of B1NANCE so providing the best user experience is always our first priority. We try to achieve this by providing a user-friendly interface and intuitive navigation to help facilitate seamless browsing and enhance shopping experiences. Not only that, we always listen to customer feedbacks and opinions to further improve user experience day by day.</p>
                    </div>
                    <img src="images/customerPurchase.avif">
                </div>
            </div>

            <div class="members">
                <h1>Members</h1>
                <div class="wrapperMember">
                    <div class="eachMember">
                        <img src="images/teamMember.jpg">
                        <p class="name">Phan Xuan Hung</p>
                        <p class="ID">S4061864</p>
                    </div>

                    <div class="eachMember">
                        <img src="images/teamMember.jpg">
                        <p class="name">Pham Le Quang Minh</p>
                        <p class="ID">S4053410</p>
                    </div>

                    <div class="eachMember">
                        <img src="images/teamMember.jpg">
                        <p class="name">Ho Minh Kha</p>
                        <p class="ID">S4037882</p>
                    </div>

                    <div class="eachMember">
                        <img src="images/teamMember.jpg">
                        <p class="name">Tong Thien Phuoc</p>
                        <p class="ID">S4010791</p>
                    </div>
                </div>
            </div>
        </div> 
        <%- include('../main/footer') %>