<%- include('../main/header') %>
    <%- include('../main/navbar') %>
        <section class="py-3 py-md-5 min-vh-80 d-flex justify-content-center align-items-center">
            <div class="d-flex align-items-center justify-content-center ">
                <div class="text-center">
                    <p class="fs-1 fw-bold">404</p>
                    <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
                    <p class="lead">
                        The page you’re looking for doesn’t exist.
                    </p>
                    <a href="/" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </section>

        <%- include('../main/footer') %>