<%- include('../main/header') %>
    <%- include('../main/navbar') %>
    <link rel="stylesheet" href="/stylesheets/policy.css">
    <div class="policyPage">
        <h2>Copyright</h2>
        <p>B1nance services, such as text, graphics, logos, button icons, images, audio clips, and data compilations, which is made by B1NANCE, its content suppliers and protected by international copyright laws. </p>

        <h2>Privacy Policies</h2>
        <h5>- Information we collect</h5>
        <p><b>Personal information:</b> When you visit our website, make a purchase, or sign up for our newsletter, we may collect personal information such as your name, email address, mailing address, phone number, and payment information.
        </p>
        <p><b>Device information:</b> IP address, browser type, operating system, and other technical details, are the information we will collect from your device, which you use to assess our page. 
        </p>

        <h5>- How we use your information</h5>
        <p>Your personal information is used to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.</p>
        <p>We use your personal information to communicate with you in relation to B1nance Services via different channels (e.g., by phone, email, chat).
        </p>

        <h5>- Your rights</h5>
        <p>You can choose to keep certain information private, but then you might not be able to take advantage of many of the B1nance services.
        </p>
        <p>You have the right to access, correct, update, or delete your personal information at any time.</p>

        <h2>Term of uses</h2>
        <p>For every part of our website, (eg. logo, product image), is owned by B1nance and does not allow for any copy of use, republishing or reproduce any of our website content.</p>
        <p>Not allowing any unauthorised access, with any automation scraping data software that collects and uses our data.</p>
    </div>

    <%- include('../main/footer') %>